<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=0.3, user-scalable=no" charset="UTF-8">

  <title>Samthsizer - Theremin style web synth</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Iceland|Jockey+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body oncontextmenu="return false" >

  <div id="wrapper">

    <div id="dropdown">
      
    </div>

    <div id="details" class="details-right-hand">

      <p id="frqcy" class="frqcy-right-hand">FRQCY:
        <span id="frequency"></span>
      </p>

    </div>

   
    <canvas id="theremin" class="theremin-right-hand" tabindex="1"></canvas>

    <div id="controls" class="controls-right-hand">

      <div class="wave-form">
        <p>WAVE FORM</p>
        <div id="wave-form-buttons" class="wave-form-buttons-right-hand">
          
          <a class="button clicked"  id="sine">Sine</a>
          <a class="button"  id="triangle">Triangle</a>
          <a class="button"  id="square">Square</a>
          <a class="button"  id="sawtooth">Saw Tooth</a>

        </div>
      </div>

       <div class="effects">
        <p>EFFECTS</p>
        <div id="effects-buttons" class="effects-buttons-right-hand">
          <a class="button"  id="compressor">Compressor</a>
          <a class="button"  id="chorus">Chorus</a>
          <a class="button"  id="overdrive">Overdrive</a>
          <a class="button"  id="delay">Delay</a>
          <a class="button"  id="phaser">Phaser</a>
          <a class="button"  id="tremolo">Tremolo</a>
        </div>
      </div>

    </div>

    
    <div id="tonematrix"></div>
    
    
    <a class="button right"  id="swap">Hand-Swap</a>
    <a class="button" id="tonematrix-mute">&#128266;</a>

  </div>
  
</body>
    <script src="tonematrix_js/tonematrix.js"></script>
    <script src="tonematrix_js/core.js"></script>
    <script src="tonematrix_js/synth.js"></script>
    <script src="tonematrix_js/voice.js"></script>
    <script src="tonematrix_js/app.js"></script>
    <script type="text/javascript" src="tuna.js"></script>
    <script type="text/javascript" src="main.js"></script>
</html>