<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=0.3, user-scalable=no" charset="UTF-8">
  <title>Samthsizer - Theremin style web synth</title>
  <link rel="shortcut icon" href="/images/favicon (2).ico" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="//connect.soundcloud.com/sdk.js"></script>
  <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>

  <script type="text/javascript">

    $(document).ready(function(){
      SC.initialize({
        client_id: '<%= ENV["SAMTHSIZER_SC_CLIENT_ID"] %>',
        redirect_uri: 'https://samthsizer.herokuapp.com/callback.erb',
      })

      // $('a.connect').click(function(e) {
      //   e.preventDefault();
      //   SC.connect().then(function() {
      //     return SC.get('/me/tracks').then(function(myTracks){
      //       console.log(myTracks[0].uri)
      //       document.getElementById("sc-widget").setAttribute("src", "https://w.soundcloud.com/player/?url=" + myTracks[0].uri );
      //     });
      //   })
      // });

      $("#startRecording").click(function(e){
        updateTimer(0)
        e.preventDefault();
        SC.record({
          progress: function(ms, avgPeak){
            updateTimer(ms)   
          }
        })
      })
      
      $("#stopRecording").click(function(e){
          e.preventDefault();
          SC.recordStop();    
      })
    
      $("#playBack").click(function(){
        updateTimer(0)
        SC.recordPlay({
          progress: function(ms){
            updateTimer(ms)    
          }    
        })
      })
      
      $("#upload").click(function(){
        SC.connect({
          connected: function(){
            var today = new Date();
            SC.recordUpload({
              track:{
              title: "My new recording " + today.getMonth() + "/" + today.getDate() + "/" + today.getFullYear(),
              sharing: "public"
              }    
            })
            alert("You've uploaded your latest recording to your Soundcloud! Check your tracks in your profile.")     
          } 

        })   
      })

      function updateTimer(ms) {
        $('.status').text("Now Recording: " + SC.Helper.millisecondsToHMS(ms));
      }
    });
 
    
  </script>
  <link href='https://fonts.googleapis.com/css?family=Iceland|Jockey+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="font-awesome-4.5.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body oncontextmenu="return false" >

  <div id="wrapper">

    <div id="dropdown">
      
    </div>

    <div id="details" class="details-right-hand">

      <p id="frqcy" class="frqcy-right-hand">FRQCY:
        <span id="frequency"></span>
      </p>

    </div>

   
    <canvas id="theremin" class="theremin-right-hand" tabindex="1"></canvas>

    <div id="controls" class="controls-right-hand">

      <div class="wave-form">
        <p>WAVE FORM</p>
        <div id="wave-form-buttons" class="wave-form-buttons-right-hand">
          
          <a class="button clicked"  id="sine">Sine</a>
          <a class="button"  id="triangle">Triangle</a>
          <a class="button"  id="square">Square</a>
          <a class="button"  id="sawtooth">Saw Tooth</a>

        </div>
      </div>

       <div class="effects">
        <p>EFFECTS</p>
        <div id="effects-buttons" class="effects-buttons-right-hand">
          <a class="button"  id="compressor">Compressor</a>
          <a class="button"  id="chorus">Chorus</a>
          <a class="button"  id="overdrive">Overdrive</a>
          <a class="button"  id="delay">Delay</a>
          <a class="button"  id="phaser">Phaser</a>
          <a class="button"  id="tremolo">Tremolo</a>
        </div>
      </div>

    </div>

    
    <div id="tonematrix"></div>
    
    
    <a class="button right"  id="swap">Hand-Swap</a>
    <div id="mute-help">
      <a class="button" id="tonematrix-mute">&#128266;</a>
      <a class="button" id="help"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
    </div>
    <div id="modal-outer">
      <div id="modal-inner">
        <div id="modal-text">
          <h1>What Can I Do Here?</h1>
          <div class="modal-info">
            <h3>Play the Samthsizer:</h3>
            <ul>
              <li>The Samthsizer is like a theremin!</li>
              <li>Click and drag on the Samthsizer to make sounds</li>
              <li>You can change how the Samthsizer sounds with the wave-form and effects buttons</li>
            </ul>
          </div>

          <div class="modal-info">
            <h3>Use the Tonematrix:</h3>
            <ul>
              <li>The Tonematrix is a tone sequencer!</li>
              <li>Click squares on the Tonematrix to add them to your tone sequence</li>
              <li>Y-axis for pitch control, X-axis for time placement</li>
              <li>You can mute the Tonematrix with the mute button</li>
            </ul>
          </div> 

          <div class="modal-info">
            <h3>Share your Sounds with Soundcloud:</h3>
            <ul>
              <li>Record and Upload the sounds you make here powered by Soundcloud API!</li>
              <li>Hit record to record your sounds, stop to end your recording, play it back for QC, and upload it to your Soundcloud profile</li>
              <li>Use your best speakers for highest fidelity recordings</li>

            </ul>
          </div>

          <h1 id="havefun">Have Fun -- Be Creative!</h1>
        </div>
        
      </div>
    </div>

    <div id="soundcloud">

      <a id="powered-by-sc" href="http://www.soundcloud.com">Powered By SoundCloud  <i class="fa fa-soundcloud fa-2x" aria-hidden="true"></i></a>
      
      <div id="sc-buttons">
        <a id="startRecording" class="button">REC.</a>
        <a id="stopRecording"class="button"><i class="fa fa-stop" aria-hidden="true"></i></a>
        <a id="playBack" class="button"><i class="fa fa-play" aria-hidden="true"></i></a>
        <a id="upload" class="button">Upload</a>
      </div>

      <p class="status"></p>
    </div>
  
</body>
    
    <script src="tonematrix_js/tonematrix.js"></script>
    <script src="tonematrix_js/core.js"></script>
    <script src="tonematrix_js/synth.js"></script>
    <script src="tonematrix_js/voice.js"></script>
    <script src="tonematrix_js/app.js"></script>
    <script type="text/javascript" src="tuna.js"></script>
    <script type="text/javascript" src="main.js"></script>
</html>