@media screen and (min-device-width: 274px){ 
  body {
    margin: 0;
    padding: 0;
     background: -webkit-gradient(linear, left top, left bottom, from(#759AAB), to(#708B75));
     background: -webkit-linear-gradient(top, #708B75, #759AAB);
     background: -moz-linear-gradient(top, #708B75, #759AAB);
     background: -ms-linear-gradient(top, #708B75, #759AAB);
     background: -o-linear-gradient(top, #708B75, #759AAB);
     background-image: -ms-linear-gradient(top, #708B75 0%, #759AAB 100%);
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-touch-callout:none;
     -webkit-user-select:none;
     -khtml-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
     user-select:none;
     -webkit-tap-highlight-color:rgba(0,0,0,0);

  }

  #wrapper {
    margin: 0 auto;
    padding-bottom: 55%;
  }

  #theremin {
    -webkit-touch-callout:none;
     -webkit-user-select:none;
     -khtml-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
     user-select:none;
     -webkit-tap-highlight-color:rgba(0,0,0,0);
    transition: 0.6s;
  }

  #theremin:focus{
    
     -webkit-box-shadow: rgba(255,255,255,0.6) 0 0 0, inset rgba(255,255,255,0.6) 0 0 3em;
      -moz-box-shadow: rgba(255,255,255,0.6) 0 0 0, inset rgba(255,255,255,0.6) 0 0 3em;
      box-shadow: rgba(255,255,255,0.6) 0 0 0, inset rgba(255,255,255,0.6) 0 0 3em;
  }

  /*left hand*/
  .theremin-left-hand {
    border: 1em solid #3D315B;
    border-radius: 1em;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;
    box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;
    width: 20%;
    height: 82em;
    position: relative;
    left: 12%;
    background-color: #444B6E;

  }

  .details-left-hand {
    margin: 0 auto;
    
  }

  .frqcy-left-hand {
    font-family: 'Iceland', cursive;
    font-size: 42px;
    font-weight: bold;
    color: #FAF2A1;
    text-shadow: 12px 12px 12px #708B75;
    margin: 0;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 12.5vw;
  }

  .controls-left-hand{
    float: right;
  }

  .controls-left-hand p {
    font-family: 'Iceland', cursive;
    font-size: 42px;
    font-weight: bold; 
    color: #FAF2A1;
    text-shadow: 12px 12px 12px #708B75;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-right: 1.2em;
  }

  .wave-form-buttons-left-hand {
    float: right;
    border: 0.5em solid #3D315B;
    border-radius: 1em;
    background-color: #444B6E;
    margin-right: 3.8em;
    margin-bottom: 1em;
   /* -webkit-box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;
    box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;*/
  }

  .effects-buttons-left-hand {
    float: right;
    border: 0.5em solid #3D315B;
    border-radius: 1em;
    background-color: #444B6E;
    margin-right: 3.5em;
    margin-bottom: 1em;
    /*-webkit-box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;
    box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;*/
  }

  /*right-hand*/

  .theremin-right-hand {
    border: 1em solid #3D315B;
    border-radius: 1em;
    /*-webkit-box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;
    box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;*/
    width: 20%;
    height: 82em;
    position: relative;
    left: 36%;
    background-color: #444B6E;
  }

  .details-right-hand {
    margin: 0 auto;
    
  }

  .frqcy-right-hand {
    font-family: 'Iceland', cursive;
    font-size: 42px;
    font-weight: bold;
    color: #FAF2A1;
    text-shadow: 12px 12px 12px #708B75;
    margin: 0;
    margin-bottom: 1vw;
    margin-left: 65vw;
    margin-top: 1vw;
  }

  .controls-right-hand{
    float: left;
    margin-top: 5vw;

  }

  .controls-right-hand p {
    font-family: 'Iceland', cursive;
    font-size: 42px;
    font-weight: bold; 
    color: #FAF2A1;
    text-shadow: 12px 12px 12px #708B75;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-left: 1.25em;
  }

  .wave-form-buttons-right-hand {
    float: left;
    border: 0.5em solid #3D315B;
    border-radius: 1em;
    background-color: #444B6E;
    margin-left: 3.8em;
    margin-bottom: 1em;
    /*-webkit-box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;
    box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;*/
  }

  .effects-buttons-right-hand {
    float: left;
    border: 0.5em solid #3D315B;
    border-radius: 1em;
    background-color: #444B6E;
    margin-left: 3.5em;
    margin-bottom: 1em;
    /*-webkit-box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;
    box-shadow: rgba(255,255,255,0.4) 0 0 1em, inset rgba(255,255,255,0.4) 0 0 1em;*/
  }


  .button {
     border: 2px solid #0a3c59;
     background: #708B75;
     background: -webkit-gradient(linear, left top, left bottom, from(#759AAB), to(#FAF2A1));
     background: -webkit-linear-gradient(top, #FAF2A1, #708B75);
     background: -moz-linear-gradient(top, #FAF2A1, #708B75);
     background: -ms-linear-gradient(top, #FAF2A1, #708B75);
     background: -o-linear-gradient(top, #FAF2A1, #708B75);
     background-image: -ms-linear-gradient(top, #FAF2A1 0%, #708B75 100%);
     padding: 7.5px 15px;
     -webkit-border-radius: 14px;
     -moz-border-radius: 14px;
     border-radius: 14px;
     -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
     -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
     box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
     text-shadow: #7ea4bd 0 1px 0;
     color: #06426c;
     font-size: 40px;
     font-family:'Jockey One', sans-serif;
     text-decoration: none;
     vertical-align: middle;
     text-align: center;
     margin: 0.7em;
     display: block;
  }

  .button:active {
     border: 2px solid #0a3c59;
     text-shadow: #1e4158 0 1px 0;
     background: #FAF2A1;
     background: -webkit-gradient(linear, left top, left bottom, from(#759AAB), to(#FAF2A1));
     background: -webkit-linear-gradient(top, #FAF2A1, #759AAB);
     background: -moz-linear-gradient(top, #FAF2A1, #759AAB);
     background: -ms-linear-gradient(top, #FAF2A1, #759AAB);
     background: -o-linear-gradient(top, #FAF2A1, #759AAB);
     background-image: -ms-linear-gradient(top, #FAF2A1 0%, #759AAB 100%);
     color: #fff;
    }

  .clicked {
     text-shadow: #1e4158 0 1px 0;
     border: 2px solid #0a3c59;
     background: #759AAB;
     background: -webkit-gradient(linear, left top, left bottom, from(#FAF2A1), to(#FAF2A1));
     background: -webkit-linear-gradient(top, #FAF2A1, #759AAB);
     background: -moz-linear-gradient(top, #FAF2A1, #759AAB);
     background: -ms-linear-gradient(top, #FAF2A1, #759AAB);
     background: -o-linear-gradient(top, #FAF2A1, #759AAB);
     background-image: -ms-linear-gradient(top, #FAF2A1 0%, #759AAB 100%);
     color: #fff;
     margin-top: 0.7em;
    }

   
  #swap {
    width: 50%;
    margin: 0 auto;
    margin-top: 3vw;
    border: 0.5em solid #3D315B;
    border-radius: 1em;
    background-color: #444B6E;
    font-size: 32px;
  }

  #tonematrix-mute {
    display: none;
  }
}

@media screen and (min-device-width: 1275px){
  body {
    margin-bottom: 5vw;
    padding: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#759AAB), to(#708B75));
    background: -webkit-linear-gradient(top, #708B75, #759AAB);
    background: -moz-linear-gradient(top, #708B75, #759AAB);  
    background: -ms-linear-gradient(top, #708B75, #759AAB);
    background: -o-linear-gradient(top, #708B75, #759AAB);
    background-image: -ms-linear-gradient(top, #708B75 0%, #759AAB 100%);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 100%;

  }

  #wrapper {
    margin: 0 auto;
    padding-bottom: 2vw;
  }

  #theremin {
    -webkit-touch-callout:none;
     -webkit-user-select:none;
     -khtml-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
     user-select:none;
     -webkit-tap-highlight-color:rgba(0,0,0,0);
    transition: 0.6s;
  }

  #theremin:focus{
    
    -webkit-box-shadow: rgba(255,255,255,0.6) 0 0 0, inset rgba(255,255,255,0.6) 0 0 3em;
    -moz-box-shadow: rgba(255,255,255,0.6) 0 0 0, inset rgba(255,255,255,0.6) 0 0 3em;
    box-shadow: rgba(255,255,255,0.6) 0 0 0, inset rgba(255,255,255,0.6) 0 0 3em;
  }

  /*right-hand*/

  .theremin-right-hand {
    border: 1em solid #3D315B;
    border-radius: 1em;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0 0, inset rgba(255,255,255,0.3) 0 0 0.4em;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0 0, inset rgba(255,255,255,0.3) 0 0 0.4em;
    box-shadow: rgba(255,255,255,0.4) 0 0 0, inset rgba(255,255,255,0.3) 0 0 0.4em;
    width: 10%;
    height: 35em;
    position: relative;
    left: 10%;
    background-color: #444B6E;
  }

  .details-right-hand {
    margin: 0 auto;
    
  }

  #frqcy {
    font-family: 'Iceland', cursive;
    font-size: 22px;
    text-shadow: 2px 2px 2px #3D315B;
    font-weight: bold;
    color: #FAF2A1;
    margin: 0;
    margin-bottom: 1vw;
    margin-left: 35.5vw;
    margin-top: 1vw;
  }

  .controls-right-hand{
    float: left;
    width: 25%;
    margin-top: -1vw;

  }

  .controls-right-hand p {
    font-family: 'Iceland', cursive;
    font-size: 22px;
    font-weight: bold; 
    color: #FAF2A1;
    text-shadow: 2px 2px 2px #3D315B;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-right: 33%;
  }

  .wave-form-buttons-right-hand {
    float: left;
    border: 0.5em solid #3D315B;
    border-radius: 1em;
    background-color: #444B6E;
    margin-left: 3.8em;
    margin-bottom: 1em;
/*    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0 0, inset rgba(255,255,255,0.4) 0 0 1em;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0 0, inset rgba(255,255,255,0.4) 0 0 1em;
    box-shadow: rgba(255,255,255,0.4) 0 0 0, inset rgba(255,255,255,0.4) 0 0 1em;*/
  }

  .effects {
    width: 100%;
  }

  .effects-buttons-right-hand {
    float: left;
    border: 0.5em solid #3D315B;
    border-radius: 1em;
    background-color: #444B6E;
    margin-left: 3.5em;
    margin-bottom: 1em;
    width: 80%;
  /*  -webkit-box-shadow: rgba(255,255,255,0.4) 0 0 0, inset rgba(255,255,255,0.4) 0 0 1em;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0 0, inset rgba(255,255,255,0.4) 0 0 1em;
    box-shadow: rgba(255,255,255,0.4) 0 0 0, inset rgba(255,255,255,0.4) 0 0 1em;*/
  }

  #effects-buttons {
    float: left;
  }

  #slider-names {
    float: left;
    margin: 1.5% 1% 0 0;
    width: 10%;
  }

  #slider-names span {
    font-family:'Jockey One', sans-serif;
    font-size: 12px;
    color: #FAF2A1;
  }

  #effects-sliders {
    height: 6px;
    width: 47%;
    margin: 4% 0 0 1%;
    float: left;
  }

  .track {
    height: 7px;
    width: 70%;
    background-color: #27153a;
    margin: 0 10%;
    border-radius: 3px;
  }

  .slider {
    height: 7px;
    width: 8px;
    border-radius: 3px;
    background: #708B75;
    background: -webkit-gradient(linear, left top, left bottom, from(#759AAB), to(#FAF2A1));
    background: -webkit-linear-gradient(top, #FAF2A1, #708B75);
    background: -moz-linear-gradient(top, #FAF2A1, #708B75);
    background: -ms-linear-gradient(top, #FAF2A1, #708B75);
    background: -o-linear-gradient(top, #FAF2A1, #708B75);
    background-image: -ms-linear-gradient(top, #FAF2A1 0%, #708B75 100%);
  }

  .slider-value {
    display: none;
  }

  #comp-ratio {
    margin-top: 7.5%;
  }

  .button {
     border: 2px solid #0a3c59;
     background: #708B75;
     background: -webkit-gradient(linear, left top, left bottom, from(#759AAB), to(#FAF2A1));
     background: -webkit-linear-gradient(top, #FAF2A1, #708B75);
     background: -moz-linear-gradient(top, #FAF2A1, #708B75);
     background: -ms-linear-gradient(top, #FAF2A1, #708B75);
     background: -o-linear-gradient(top, #FAF2A1, #708B75);
     background-image: -ms-linear-gradient(top, #FAF2A1 0%, #708B75 100%);
     padding: 7.5px 15px;
     -webkit-border-radius: 14px;
     -moz-border-radius: 14px;
     border-radius: 14px;
     -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
     -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
     box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
     text-shadow: #7ea4bd 0 1px 0;
     color: #06426c;
     font-size: 12px;
     font-family:'Jockey One', sans-serif;
     text-decoration: none;
     vertical-align: middle;
     text-align: center;
     margin: 0.7em;
     display: block;
     cursor: default;
  }

  .button:active {
     border: 2px solid #0a3c59;
     text-shadow: #1e4158 0 1px 0;
     background: #FAF2A1;
     background: -webkit-gradient(linear, left top, left bottom, from(#759AAB), to(#FAF2A1));
     background: -webkit-linear-gradient(top, #FAF2A1, #759AAB);
     background: -moz-linear-gradient(top, #FAF2A1, #759AAB);
     background: -ms-linear-gradient(top, #FAF2A1, #759AAB);
     background: -o-linear-gradient(top, #FAF2A1, #759AAB);
     background-image: -ms-linear-gradient(top, #FAF2A1 0%, #759AAB 100%);
     color: #fff;
  }

  .clicked {
     text-shadow: #1e4158 0 1px 0;
     border: 2px solid #0a3c59;
     background: #759AAB;
     background: -webkit-gradient(linear, left top, left bottom, from(#FAF2A1), to(#FAF2A1));
     background: -webkit-linear-gradient(top, #FAF2A1, #759AAB);
     background: -moz-linear-gradient(top, #FAF2A1, #759AAB);
     background: -ms-linear-gradient(top, #FAF2A1, #759AAB);
     background: -o-linear-gradient(top, #FAF2A1, #759AAB);
     background-image: -ms-linear-gradient(top, #FAF2A1 0%, #759AAB 100%);
     color: #fff;
     margin-top: 0.7em;
  }

  #tonematrix {
    width: 1px;
    height: 1px;
  }

  input[type=radio] {
    width: 20px;
    height: 20px;
  }

  .note {
    position: absolute;
    margin-top: 4vw;
    margin-left: 50vw;
    background: #444B6E;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
  }
  .note.active {
    background: #3D315B;
  }
  .note.hit {
    pointer-events:none;
    z-index: 5;
    -webkit-animation: hit 0.3s ease-in-out;
    -moz-animation: hit 0.3s ease-in-out;
  }

  @-webkit-keyframes hit {
    from {
        background: rgba(250,242,161,0.5);
        opacity: 1;
        border-radius: 50%;
        -webkit-transform: scale3d(0.5,0.5,0.5);
    }
    to {
        background: rgba(250,242,161,0.5);
        opacity: 0.0;
        border-radius: 50%;
        -webkit-transform: scale3d(1,1,1);
    }
  }
  
  @-moz-keyframes hit {
    from {
        background: rgba(250,242,161,0.5);
        opacity: 1;
        border-radius: 50%;
        -moz-transform: scale3d(0.5,0.5,0.5);
    }
    to {
        background: rgba(250,242,161,0.5);
        opacity: 0.0;
        border-radius: 50%;
        -moz-transform: scale3d(1,1,1);
    }
  }
  #tonematrix-mute { 
    display: inline-block;
    font-size: 10px;
    border: 0.5em solid #3D315B;
    border-radius: 1em;
  
  }

  #help {
    position: relative;
    right: 2px;
    border: 0.45em solid #3D315B;
    border-radius: 1em;
  }

  #mute-help {
    position: absolute;
    left: 94%;
    bottom: 75%;
  }

  #soundcloud {
    float: right;
    margin-top: -16vw;
    margin-right: 10vw;
    width: 40%;
  }

  #powered-by-sc {
    text-decoration: none;
    font-family: 'Iceland', cursive;
    font-size: 22px;
    font-weight: bold; 
    color: #FAF2A1;
    text-shadow: 2px 2px 2px #3D315B;
    float: left;
  }

  #powered-by-sc i {
    color: orange;
    padding-left: 1vw;
  }
  

  #startRecording, #stopRecording, #playBack, #upload {
    border: 0.5em solid #3D315B;
    border-radius: 1em;
    width: 12%;
    float: left;
  }

  #sc-buttons {
    width: 100%;
    height: 100%;
    float: left;
  }

  .status {
    font-family: 'Iceland', cursive;
    font-size: 22px;
    font-weight: bold; 
    color: #FAF2A1;
    text-shadow: 2px 2px 2px #3D315B;
    float: left;
    padding-left: 1vw;
    margin: 0;
  }

  #modal-outer {
    position: absolute;
    top: 3vw;
    bottom: 1vw;
    display: none;
    height: 100%;
    width: 100%;
  }
  
  #modal-inner {
    position: relative;
    left: 10vw;
    width: 80%;
    height: 75%;
    background-color: black;
    border: 1px solid black;
    border-radius: 1em;
    opacity: 0.9;
  }

  #modal-text {
    border: 1px solid black;
    border-radius: 1em;
    background: -webkit-gradient(linear, left top, left bottom, from(#708B75), to(#759AAB));
    background: -webkit-linear-gradient(top, #759AAB, #708B75);
    background: -moz-linear-gradient(top, #759AAB, #708B75);  
    background: -ms-linear-gradient(top, #759AAB, #708B75);
    background: -o-linear-gradient(top, #759AAB #708B75);
    background-image: -ms-linear-gradient(top, #759AAB 0%, #708B75 100%); 
    margin:0 auto;
    position: relative;
    top: 1vw;
    height: 94%;
    width: 97%;
  }

  #modal-text h1 {
    font-family: 'Iceland', cursive;
    font-weight: bold; 
    font-size: 40px;
    color: #FAF2A1;
    text-shadow: 2px 2px 2px #3D315B ;
    margin: 0 0 0 2vw;
    padding-top: 2vw;
  }

  .modal-info {
    width: 30%;
    margin-left: 2vw;
    float: left;
  }

  .modal-info h3 {
    font-family: 'Iceland', cursive;
    font-weight: bold; 
    color: #FAF2A1;
    text-shadow: 2px 2px 2px #3D315B ;
  }

  .modal-info li {
    font-family:'Jockey One', sans-serif;
    list-style: square;
    color: #06426c;
    margin-bottom: 1vw;
    text-shadow: 2px 2px 2px grey;
  }

  #havefun {
    float: left;
  }

  #swap {
    display: none;
  }

  
}
